body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Karla, Verdana, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  background-color: #cccccc;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  left: -9999px;
  top: -9999px;
}

.page-wrapper {
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}


/*HEADER*/

.login-header {
  position: relative;
  min-height: 355px;
  background: -webkit-linear-gradient(45deg, #0090e5, #00a0ff);
  background: -o-linear-gradient(45deg, #0090e5, #00a0ff);
  background: linear-gradient(45deg, #0090e5, #00a0ff);
}

.login-header::before {
  content: '';
  position: absolute;
  bottom: 0;
  border: 300px solid transparent;
  border-left: 0 solid rgba(0, 0, 0, 0.1);
  border-bottom: 330px solid rgba(0, 0, 0, 0.1);
  display: block;
  width: 0;
  height: 0;
}

.login-heading {
  position: relative;
  margin: 74px 0 0 0;
  font-size: 90px;
  letter-spacing: -3.5px;
  color: #ffffff;
  line-height: 64px;
  z-index: 1;
}

.chat-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.login-header::after {
  content: '';
  position: absolute;
  bottom: 109px;
  left: 128px;
  border: 10px solid transparent;
  border-right: 10px solid #ad807d;
  border-top: 10px solid #ad807d;
  display: block;
  width: 0;
  height: 0;
}


/*FOOTER*/

.login-entry {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-height: 270px;
  background-color: #000000;
}

.login-form {
  position: absolute;
  top: -50px;
  left: 50%;
  width: 305px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #ffffff;
}

.form-wrapper {
  padding: 27px 40px 32px 40px;
}

.login-form input {
  width: 100%;
  padding-bottom: 10px;
  border: none;
  border-bottom: 2px solid #cccccc;
}

.login-form input::-webkit-input-placeholder {
  color: #000000;
  opacity: 1;
}

.login-form input:-ms-input-placeholder {
  color: #000000;
  opacity: 1;
}

.login-form input::-ms-input-placeholder {
  color: #000000;
  opacity: 1;
}

.login-form input::placeholder {
  color: #000000;
  opacity: 1;
}

.login-form label {
  color: #ad807d;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.row__password {
  margin-top: 20px;
}

.login-button {
  position: relative;
  width: 100%;
  height: 55px;
  padding-right: 40px;
  border: none;
  font-weight: 700;
  text-align: right;
  color: #ffffff;
  background-color: #00a0ff;
  cursor: pointer;
}

.login-button::before {
  content: '';
  position: absolute;
  left: 40px;
  top: 50%;
  border: 5px solid transparent;
  border-left: 8px solid #ffffff;
  width: 0;
  height: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.login__entry-text {
  color: #ffffff;
  margin: 0 0 25px 0;
  font-size: 12px;
}

.login__entry-link {
  padding-bottom: 5px;
  font-weight: 700;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}


/* HEADER CAHT PAGE*/

.header-chat {
  margin: 0;
  text-align: center;
  background-color: #000000;
  color: #ffffff;
}

.header-chat__heading {
  margin: 0;
  padding: 35px 0 12px 0;
  font-size: 16px;
  line-height: 23px;
  font-weight: 300;
}

.chat {
  position: relative;
  padding: 25px;
  background-color: #0090e5;
  min-height: 512px;
}

.chat::before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  border: 165px solid transparent;
  border-right: 160px solid #00a0fe;
  border-top: 170px solid #00a0fe;
  display: block;
  width: 0;
  height: 0;
}

.message {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 1;
}

.message--user-1+.message--user-2,
.message--user-2+.message--user-1 {
  margin-top: 2em;
}

.message--user-1+.message--user-1,
.message--user-2+.message--user-2 {
  margin-top: .5em;
}

.message__time,
.message__user-name {
  font-size: 10px;
  font-weight: 700;
  color: #ad807d;
  margin: 0 0 5px 0;
}

.message__author-pic {
  margin: 0;
}

.message__text {
  padding: 10px;
  background-color: #ffffff;
  max-width: 86%;
}

.message__text-reply {
  margin: 0;
  font-size: 15px;
}

.message--user-2 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.message--user-2 .message__text-wrapper {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.message--user-2 .message__author-pic {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin: 0;
}

.footer-chat {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 25px;
  min-height: 50px;
  background-color: #000000;
}

.camera-button {
  width: 20px;
  height: 17px;
  padding: 0;
  margin-right: 20px;
  background-color: transparent;
  border: none;
  background-image: url(../img/camera-icon.png);
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: middle;
  cursor: pointer;
}

.footer-chat__field {
  width: 100%;
  font: inherit;
  line-height: 17px;
  color: #ffffff;
  background-color: transparent;
  border: none;
}

.footer-chat__field::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.footer-chat__field:-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.footer-chat__field::-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.footer-chat__field::placeholder {
  color: #ffffff;
  opacity: 1;
}

.send-button {
  position: absolute;
  top: -27px;
  right: 24px;
  width: 55px;
  height: 55px;
  background-color: #febdb7;
  border-radius: 100%;
  border: 0;
  font-size: 0;
  background-image: url(../img/send-icon.png);
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

